*{
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: #E4E4E4;
}
#createNew{
    margin-right: 36px;
}

#content{
    margin: 0 54px;
}
#calling{
    margin-top: 24px;
    width: 800px;
    color: #707070;
    font-size: 54px;
    font-weight: bold;
}
#cards{
    margin-top: 40px;
    overflow: hidden;
}