{% load static %}

<link rel="stylesheet" href="{% static 'css/cards.css' %}">

<div id="slider">

        <div class="card" >
            <div class="card-header">
                TRANS.fer
            </div>
            <div class="card-body">
            <h3 class="card-title">Recife</h3>
            <p class="card-text">
                Plataforma para viabilizar a troca de roupas entre pessoas trans em transição. Entre nesse link: kikikiki.com/issoehumexemplo
            </p>
            <button href="#" class="btn btn-primary">Quero colaborar</a>
            </div>
        </div>

        <div class="card" >
            <div class="card-header">
                TRANS.fer
            </div>
            <div class="card-body">
            <p class="card-text">
                Em qual papel você quer colaborar?
            </p>
            <form>
                <div class="form-group">
                  <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Confirmar!</button>
              </form>
            </div>
        </div>

    
</div>